body {
background-color: #f5f0eb;
color: rosybrown;}
body {

	font-family: Arial, serif;
}
body {font-size: 20px;
line-height: 1.8;}

body {letter-spacing: 1px}

body {font-weight: lighter;}

a {text-decoration: none;}

p {text-align: center;}

h1 {color: #8B3A0F;}

h2 {color: #8B3A0F;}

.photo-profile {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.card-white {
	background-color: floralwhite;
	padding: 30px 20px;
	margin: 30px auto;
	max-width: 700px;
	width: 90%;
	border-radius: 10px;
	box-shadow: Opx 10px 30px rgba(0, 0, 0, 0.1);
}

.list-inline {
	list-style: none;
	padding left: 0;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

.btn-brown {
	display: inline-block;
	padding: 12px 30px;
	background-color: #8B3A0F;
	border: 2px solid #8B3A0F;
	border-radius: 30px;
	color: whitesmoke;
	font-weight: bold;
	texte-decoration: none;
	transition: all 0.3s ease;
}

.btn-brown: hover {
	background-color: #8B3A0F;
	color: #8B3A0F;
}
img {
	max-width: 100%;
}

@media (max-width: 600px) {
	h1 {
		font-size: 32px;
	}
	.card-white {
		padding: 20px 15px;
	}
}